@import "tailwindcss";

@theme{
  --color-blue: #4a90e2;
  --color-yellow: #f7d300;
  --color-green: #98ff98;
  --color-ash: #b3b3b3;
  --color-charcoal: #121212;
  --color-meghla:#213547;
  --color-light-gray:#F0F2F5;
  --color-accent:#06B6D4;
  --color-pink:#8B5CF6
}